<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheet.css">
</head>

<body style="background-color: #eff3ee;">
  <!--check if this code can be done differently-->
    <form>
        <button formaction="login_page.html">Login</button>
    </form>
    
    <form>
      <button formaction="RegisterPage.html">Register</button>
    </form>

    <form>
      <button formaction="moderator_page.html">Moderator</button>
    </form>

    <!--ALIZA-->
<div class="container">
    <h1>Help engine</h1>
</div>

<!--Add in dynamic content-->


<!--Reference: https://www.w3schools.com/howto/howto_css_column_cards.asp-->
<!--might put styling in an external sheet as repetitive-->
<div class="row" style="font-family: sans-serif;">
    <div class="column" style="float:left; width:25%; padding:10px">
     <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); padding: 10px; 
      text-align: center; background-color: #f1f1f1; border-radius: 18px; background-color: ghostwhite;">
        <h3>Mentor</h3>
        <p>Mentor mentor</p>
        <p>Some text</p>
      </div>
    </div>
</div>

<!--JS bootstrap link-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>